.header {
    height: 80px;
    background-color: rgb(61, 30, 212);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    color: rgb(185, 176, 176);
}

.header a {
    color: rgb(185, 176, 176);
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

@media only screen and (max-width:576px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}